body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #fff;
    color: #333;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.profile-container {
    flex: 1;
    padding: 2em;
    padding-bottom: 6em; /* Add padding to account for fixed header and footer */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    gap: 1em;
    overflow-y: auto; /* Allow vertical scrolling */
}

.profile-header {
    text-align: center;
    margin-bottom: 2em;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
}

.profile-header h1 {
    margin: 0.5em 0;
    color: #333;
}

.profile-header p {
    margin: 0.2em 0;
    color: #666;
}

.profile-section {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Limit the width of the sections */
    text-align: center; /* Center the text inside the sections */
}

.collapsible {
    cursor: pointer;
    padding: 0.5em;
    /* background-color: #f1f1f1; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    color: #333;
    border-radius: 4px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.content {
    padding: 0 1em;
    display: none;
    overflow: hidden;
    border-radius: 4px;
}

.content li {
    padding: 0.5em 0;
    color: #666;
    text-align: left;
}

.content p {
    padding: 0.5em 0;
    color: #666;
    text-align: left;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    overflow-x: auto; /* Add horizontal scroll if needed */
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: center;
}

.schedule-table th {
    background-color: #f1f1f1;
    color: #333;
}

.schedule-table td {
    background-color: #fff;
    color: #666;
}

.table-container {
    overflow-x: auto; /* Add horizontal scroll if needed */
}

.nav {
    background-color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.nav a {
    color: #333;
    text-decoration: none;
}

.nav i {
    font-size: 1.5em;
    color: #333;
}